.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff0000; /* خلفية الصفحة */
  height:70%;
  margin: 0px;
 
}

.image-box {
  background-color: #ffffff; /* خلفية خلف الصورة */
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1); /* ظل حول الحاوية */
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
  border: 2px solid #000;
  margin: 30px; /* فراغ حول العنصر */
  padding: 15px; /* فراغ داخل العنصر */
 
}



.image-box:hover {
  transform: translateY(-5px);
}

.image-box img:hover {
  transform: scale(1.05);
}

.caption {
  margin-top: 10px;
  font-size: 15px;
  color:#1900ffe8;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 body {
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
.slider {
      width: 40%;
      height: 50%;
      overflow: hidden;
      position: relative;
      background: white;
      border-radius: 12px;
    }
    .slides {
      display: flex;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
    }
    .slides img {
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }
    .navigation {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }
    .nav-btn {
      background-color: rgba(0,0,0,0.5);
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

